.group {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    flex-flow: column;
    justify-content: center;
    height: 30px;
}

.group:before {
    position: absolute;
    top: -10px;
    background-color: #202123;
    content: 'group';
    padding: 0 5px;
}
