.group
  position: relative
  display: flex
  border: 1px solid #ccc
  border-radius: 5px
  padding: 10px
  flex-flow: row
  margin: 14px 0
  flex-wrap: wrap

  &:before
    position: absolute
    top: -10px
    background-color: #202123
    content: 'group'
    padding: 0 5px
