$color-main: #381F2FFF

.rows-group
  .header
    display: flex
    height: 30px
    gap: 15px
    cursor: default

    .collapse
      display: flex
      padding: 6px
      width: 30px
      height: 30px
      box-sizing: border-box
      cursor: pointer

  .caption-wrapper
    display: flex
    align-items: center

  .rows
    padding-left: 25px

    .row, .header
      overflow: hidden
      transition: height .4s, padding .4s

    &.collapse
      .row, .header
        height: 0
        padding: 0
