body.dark {
    background-color: #202123;
    color: #bdc1c5;
}

body.dark h1 {
    color: #e8eaec;
}

body.dark button {
    background-color: #303133;
    color: #e8eaec;
    border: none;
}

body.dark #container {
    border-color: #bdc1c5;
}
