body.light {
    background: #fff;
    color: #4d5156;
}

body.light h1,
body.light h2 {
    color: #202123;
}

body.light button {
    background-color: #fff;
    color: #303133;
    border: 1px solid #303133;
}

body.light #separator {
    border-color: #4d5156;
}

body.light .group:before {
    background: #fff;
}
