body.light {
    background: #fff;
    color: #4d5156;
}

body.light h1 {
    color: #202123;
}

body.light button {
    background-color: #fff;
    color: #303133;
    border: 1px solid #303133;
}

body.light button.merge-left,
body.light button.merge-both {
    border-left: none;
}


#container {
    border-color: #4d5156;
}

body.light .group-name {
    background: #fff;
}
