@import "themes/dark"
@import "themes/light"

body.transition
  transition: background-color .2s, border .2s, opacity .3s

  div, button, ::-webkit-scrollbar-thumb
    transition: background-color .2s, border .2s, opacity .3s

  p, span
    transition: color .2s


html, body
  height: 100%
  padding: 0
  margin: 0
  overflow: hidden

body
  display: grid
  grid-template-rows: 100px calc(100vh - 100px)
  box-sizing: border-box


#content
  display: grid
  grid-template-columns: 50% 1px auto
  grid-auto-flow: column
  grid-template-rows: 100%


#cards-wrapper
  display: flex
  position: relative
  height: inherit


#separator
  border: 1px solid


#cards
  display: grid
  grid-template-columns: auto auto
  grid-auto-rows: max-content
  gap: 16px
  padding: 20px
  overflow: auto
  max-height: 100%
  width: 100%


#log
  padding: 20px
  overflow: auto


::-webkit-scrollbar
  width: 16px


::-webkit-scrollbar-track
  background-color: unset


::-webkit-scrollbar-thumb
  border: 4px solid rgba(0, 0, 0, 0)
  background-clip: padding-box
  border-radius: 10px
