@import "themes/dark.css";
@import "themes/light.css";

html, body { height: 100%; padding: 0; margin: 0 }
body {
    display: grid;
    grid-template-rows: 100px calc(100vh - 100px - 16px);
    grid-gap: 16px;
    box-sizing: border-box;
}

#content {
    display: grid;
    grid-template-columns: 50% 1px auto;
    grid-auto-flow: column;
    grid-template-rows: 100%;
}

#cards-wrapper {
    display: flex;
    position: relative;
    height: inherit;
}

#separator {
    border: 1px solid;
}

#cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    padding: 0 20px;
    overflow: auto;
    max-height: 100%;
    width: 100%;
}

#log {
    padding: 0 20px;
}
